[Unit]
Description=CCPM network setup service
Before=hostapd.service
After=network.target
[Service]
Type=oneshot
ExecStart=/usr/bin/network_config.sh
WorkingDirectory=/usr/bin
SyslogIdentifier=ccpm_network_setup
[Install]
WantedBy=multi-user.target
